*.xml
src/test/resources/selenium_standalone_binaries/windows/internetexplorer/64bit/IEDriverServer.exe
src/test/resources/selenium_standalone_binaries/windows/googlechrome/64bit/chromedriver.exe
*.exe
src/test/resources/selenium_standalone_zips/chromedriver_win32.zip
*.zip
target/failsafe-reports/com.masteringselenium.BasicTestWD.txt
*.txt
target/failsafe-reports/emailable-report.html
target/failsafe-reports/index.html
*.js
target/failsafe-reports/junitreports/TEST-com.masteringselenium.BasicTestWD.xml
*.html
target/failsafe-reports/old/Surefire suite/index.html
*.html
*.js
target/failsafe-reports/testng-reports.css
*.xml
target/test-classes/com/masteringselenium/BasicTestWD.class
target/failsafe-reports/com.masteringselenium.BasicTestWD.txt
*.html
target/failsafe-reports/index.html
*.html
target/failsafe-reports/old/Surefire suite/methods.html
*.xml
target/failsafe-reports/testng-results.xml
target/maven-archiver/pom.properties
*.class
.idea/workspace.xml